.header{
    padding: 1em 5vw;
  background-color: white;
  box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
  transition: .5s ease;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}