@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.header {
  padding: 1em 5vw;
  background-color: white;
  -webkit-box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.75);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

code {
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
  font-weight: 600;
}

.card {
  background-color: white;
}

.card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .content {
  padding: 2em;
}

.card .content li {
  list-style: none;
}

.container {
  padding: 1em 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0px 0px 10px -6px #757575;
          box-shadow: 0px 0px 10px -6px #757575;
  text-align: left;
  min-height: 320px;
}

#back .code {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5vw;
}

#back .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1.5em;
  -webkit-box-shadow: 0px 0px 10px -6px #757575;
          box-shadow: 0px 0px 10px -6px #757575;
}

.country {
  padding: 2em 0;
  min-height: 90vh;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 5vw;
}

.cont .block {
  -webkit-box-shadow: 0px 0px 10px -6px #757575;
          box-shadow: 0px 0px 10px -6px #757575;
  background-color: white;
  margin: 0 1em;
  margin-left: 0;
  padding: 0.1em 1em;
  margin-bottom: 1em;
}

.cont .img {
  width: 50%;
  padding: 4em;
  padding-left: 0;
}

.cont .img img {
  width: 100%;
}

.cont .info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cont .info .hil {
  font-weight: 600;
}

.cont .info li {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont .info .com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont .info .in-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1em;
}

.cont .info .in-info .left,
.cont .info .in-info .right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cont .info .in-info .left li,
.cont .info .in-info .right li {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cont .info .in-info .left .com,
.cont .info .in-info .right .com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #fafafa;
}

.code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .2em;
}

#dd {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

section {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em 5vw;
}

section input {
  width: 30vw;
  padding: 1em 2em;
  border: none;
  outline: none;
}

section .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0 1em;
  -webkit-box-shadow: 0px 0px 10px -6px #757575;
          box-shadow: 0px 0px 10px -6px #757575;
}

section .drop {
  background-color: white;
  padding: .8em 2em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 220px;
  -webkit-box-shadow: 0px 0px 10px -6px #757575;
          box-shadow: 0px 0px 10px -6px #757575;
}

.pp {
  position: relative;
  width: 100%;
}

.pp span {
  line-height: 30px;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px -6px #757575;
          box-shadow: 0px 0px 10px -6px #757575;
  width: 220px;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  padding: .8em 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  position: absolute;
  top: 2em;
  left: 0;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

.hide {
  display: none;
}

Link, a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

.App {
  text-align: center;
  background-color: #fafafa;
}

@media screen and (max-width: 637px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h1 {
    font-size: 1rem;
  }
  a {
    width: 100%;
  }
  .card {
    width: unset;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .input {
    width: 100%;
    margin-bottom: 1em;
  }
  .input input {
    width: 100%;
  }
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont .img {
    margin: 1em 0;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont .img img {
    width: 100%;
  }
  .cont .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .cont .info .in-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */